## Task #L10.2

### Imports:

In [1]:
import pandas as pd

### Reading csv to df

In [2]:
df = pd.read_csv('./Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.csv', skiprows=4)

### Таблица топовых атлетов США по общему количеству медалей.

In [69]:
# Get USA sportsmen only
usa_athletes = df[(df.NOC == 'USA')]
# Group data by year, name, discipline and medals, then unstack by medals and fill NaN with zeros
grouped_athletes = usa_athletes.groupby(['Edition',
                                         'Athlete',
                                         'Discipline',
                                         'Medal']).size().unstack('Medal', fill_value=0)
# Make data look nicer
grouped_athletes = grouped_athletes.reset_index().reindex(columns=['Edition',
                                                                 'Athlete',
                                                                 'Discipline',
                                                                 'Gold',
                                                                 'Silver',
                                                                 'Bronze'])
grouped_athletes.columns.name = '№'
# Add 'Total' column
grouped_athlets['Total'] = grouped_athlets.loc[:, 'Gold': 'Bronze'].sum(axis=1)
# Create resulting athlets rating 
result_top = pd.DataFrame()
for year in grouped_athlets.Edition.unique():
    # Make subframe by year
    year_subframe = grouped_athlets[grouped_athlets.Edition == year]
    # Get athlets with maximum medals 
    top_athlets_by_year = year_subframe[(year_subframe.Total == year_subframe.Total.max())]
    # Add top athlets by year to resulting data frame
    result_top = result_top.append(top_athlets_by_year)
result_top = result_top.reset_index().drop('index', axis=1)

In [70]:
result_top

№,Edition,Athlete,Discipline,Gold,Silver,Bronze,Total
0,1896,"GARRETT, Robert",Athletics,2,2,0,4
1,1900,"BAXTER, Irving",Athletics,2,3,0,5
2,1900,"TEWKSBURY, Walter B. John",Athletics,2,2,1,5
3,1904,"DOWNING, Burton",Cycling Track,2,3,1,6
4,1904,"EYSER, George",Artistic G.,3,2,1,6
5,1904,"HEIDA, Anton",Artistic G.,5,1,0,6
6,1908,"SHEPPARD, Melvin",Athletics,3,0,0,3
7,1908,"SHERIDAN, Martin",Athletics,2,0,1,3
8,1912,"OSBURN, Carl Townsend",Shooting,1,2,1,4
9,1920,"LEE, Willis",Shooting,5,1,1,7
10,1920,"SPOONER, Lloyd Spencer",Shooting,4,1,2,7
11,1924,"EDERLE, Gertrude",Swimming,1,0,2,3
12,1924,"RICHARDS, Vincent",Tennis,2,1,0,3
13,1924,"WEISSMULLER, Johnny",Swimming,3,0,0,3
14,1928,"BARBUTI, Raymond James",Athletics,2,0,0,2
15,1928,"COLEMAN, Georgia V.",Diving,0,1,1,2
16,1928,"DESJARDINS, Ulise Joseph ""Peter""",Diving,2,0,0,2
17,1928,"GALITZEN, Michael Riley",Diving,0,1,1,2
18,1928,"KOJAC, George Harold",Swimming,2,0,0,2
19,1928,"LAUFER, Walter",Swimming,1,1,0,2
20,1928,"NORELIUS, Martha",Swimming,2,0,0,2
21,1928,"OSIPOWICH, Albina Lucy",Swimming,2,0,0,2
22,1928,"ROBINSON, Elizabeth",Athletics,1,1,0,2
23,1928,"SAVILLE, Eleanor",Swimming,1,1,0,2
24,1928,"WEISSMULLER, Johnny",Swimming,2,0,0,2
25,1932,"DIDRIKSON, Mildred",Athletics,2,1,0,3
26,1932,"MADISON, Helene",Swimming,3,0,0,3
27,1936,"OWENS, Jesse",Athletics,4,0,0,4
28,1948,"CURTIS, Ann Elisabeth",Swimming,2,1,0,3
29,1948,"EWELL, Harold Norwood",Athletics,1,2,0,3
30,1948,"MCLANE, James Price Jr.",Swimming,2,1,0,3
31,1948,"WHITFIELD, Malvin Groston",Athletics,2,0,1,3
32,1952,"KONNO, Ford Hiroshi",Swimming,2,1,0,3
33,1956,"BAKER, Walter Thane",Athletics,1,1,1,3
34,1956,"BREEN, George Thomas",Swimming,0,1,2,3
35,1956,"MORROW, Robert Joseph",Athletics,3,0,0,3
36,1960,"VON SALTZA, Susan Christina",Swimming,3,1,0,4
37,1964,"ELLIS, Kathleen",Swimming,2,0,2,4
38,1964,"SCHOLLANDER, Donald Arthur",Swimming,4,0,0,4
39,1964,"STOUDER, Sharon Marie",Swimming,3,1,0,4
40,1968,"HENNE, Jane Margo",Swimming,2,1,1,4
41,1968,"HICKCOX, Charles Buchanan",Swimming,3,1,0,4
42,1968,"PEDERSEN, Susan Jane",Swimming,2,2,0,4
43,1968,"SPITZ, Mark",Swimming,2,1,1,4
44,1972,"SPITZ, Mark",Swimming,7,0,0,7
45,1976,"BABASHOFF, Shirley Farber",Swimming,1,4,0,5
46,1976,"NABER, John Phillips",Swimming,4,1,0,5
47,1984,"RETTON, Mary-Lou",Artistic G.,1,2,2,5
48,1988,"BIONDI, Matthew",Swimming,5,1,1,7
49,1992,"MILLER, Shannon",Artistic G.,0,2,3,5
50,1996,"HALL, Gary Jr.",Swimming,2,2,0,4
51,1996,"MARTINO, Angel",Swimming,2,0,2,4
52,1996,"VAN DYKEN, Amy",Swimming,4,0,0,4
53,2000,"TORRES, Dara",Swimming,2,0,3,5
54,2004,"PHELPS, Michael",Swimming,6,0,2,8
55,2008,"PHELPS, Michael",Swimming,8,0,0,8